*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 50vh;
}
h1{
    text-align: center;
    color: rgb(246, 59, 59);
    margin: 10px 0px;
}
h4{
    text-align: center;
    font-size: 18px;
    margin: 10px 0px ;
}
button{
    width: 8rem;
    padding: 5px 10px;
    border-color: transparent;
    color: rgb(205, 3, 195);
    font-size: 16px;
}
.mealImg{
    width: 20vw;
    height: 20vh;
}
.row{
    width: 40vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}